.agency-main-section {
  width: 100%;
  padding-left: calc(9% - 32px);
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  .agency-bottom-section {
    display: flex;
    flex: 1;
    gap: 1rem;
  }
  /* devide the section into left and right section */
  .agency-left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2rem;
    gap: 1rem;
  }
  .images-and-expenses {
    width: 100%;
    max-height: 400px;
    display: flex;
  }

  /* Styling for the image swiper */
  .swiper-container {
    max-width: 500px;
    min-width: 500px;
    max-height: 300px;
    min-height: fit-content;
    padding: 5px;
    position: relative;
    .slide-caption {
      text-transform: capitalize;
      position: absolute;
      top: 25%;
      left: 5%;
      color: white;
      font-size: 2.2rem;
      font-weight: 700;
      z-index: 100000;
    }
    &::before {
      content: "Fuji";
      position: absolute;
      top: 25%;
      left: 5%;
      color: white;
      transform: translate(-20%, -50%);
      font-size: 0.8rem;
      font-weight: 400;
      z-index: 100000;
    }
    img {
      object-fit: fill;
      margin-top: 5px;
      border-radius: 10px;
      aspect-ratio: 700/300;
      filter: brightness(65%);
    }
    .swiper-pagination-bullet {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      color: black;
      background-color: white;
    }
    .swiper-button-prev {
      top: unset;
      bottom: 0;
      left: 10px;
      transform: translateY(-50%);
    }
    .swiper-button-next {
      top: unset;
      bottom: 0;
      left: 10px;
      transform: translate(150%, -50%);
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 16px;
      padding-top: 2px;
      font-weight: bolder;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
    .swiper-button-next:after {
      padding-left: 2px;
    }
    .swiper-button-prev:after {
      padding-right: 2px;
    }
    .swiper-button-disabled {
      opacity: unset;
      &:after {
        opacity: 41%;
      }
    }
  }
  /* end of image swipper styles */

  /* start styling the info cards */
  .info-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .map-and-collaborations {
    display: flex;
    flex: 1;
    .map-container {
      height: 100%;
      min-height: 200px;
      width: 30%;
      border-radius: 10px;
      box-shadow: var(--basic-shadow);
      .leaflet-container {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .agency-right-side {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 90%;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.26);
      left: -5%;
      top: 50%;
      transform: translateY(-50%);
    }
    .right-side-upper-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  /* responsive */
  /* swiper*/
  @media (max-width: 1280px) {
    .swiper-container {
      max-width: 450px;
    }
  }
}
