.timeline {
  width: 100%;
  .timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    .flight-timeline {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        height: calc(100% - 28px);
        left: 14%;
        right: -1%;
        background-color: rgba(0, 193, 182, 0.44);
        border-radius: 10px;
      }
      .timeline-item:nth-child(1)::after {
        background-color: #004b6c;
        height: 2px;
      }
      .timeline-item:last-child::after {
        background-color: #004b6c;
        height: 2px;
      }
    }
    .timeline-item {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      font-size: 0.8rem;
      font-weight: 700;
      height: 30px;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 15%;
        right: 0;
        height: 1.5px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
