.agency-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  box-shadow: var(--basic-shadow);
  .voice-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .agency-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 90%;
      width: 1.2px;
      background: linear-gradient(180deg, #4f7677 0%, #708a84 100%);
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
    }
  }
}
