.ReactModal__Overlay {
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.57) !important;
}

.ReactModal__Content {
  width: 80% !important;
  max-width: unset;
  height: 85%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.step-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  gap: 0.5rem;
  button {
    height: 40px;
    padding: 5px 10px;
    color: #4f7677;
    background-color: white;
    font-weight: 700;
    border: 1px solid #4f7677;
    border-radius: 10px;
    cursor: pointer;
    &:disabled {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: unset;
    }
  }
}
