.notifications {
  position: absolute;
  top: 75px;
  right: 5%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  min-height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .notifications-upper-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    padding: 20px 10px 10px 10px;
    h2 {
      font-size: 1.6rem;
      font-weight: 700;
      color: black;
    }
    .mark-as-read {
      margin-left: 10px;
      cursor: pointer;
      background: var(--main-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 1rem;
      border: none;
    }
  }
  .notifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .notification {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      padding: 20px 30px;
      padding-right: 50px;
      color: black;
      font-size: 1.2rem;
      font-weight: 600;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
      }
      img {
        width: 70px;
        height: 70px;
      }
      .message {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          h3 {
            font-size: 1.2rem;
            font-weight: 700;
            color: black;
          }
          p {
            font-size: 1rem;
            font-weight: 500;
            color: black;
          }
        }
        .time {
          font-size: 0.9rem;
          font-weight: 500px;
          color: rgba(0, 0, 0, 0.28);
        }
      }
      .notification-not-read-circle {
        background: var(--main-gradient);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        right: 15px;
      }
    }
    .notification-not-read {
      background-color: #efefef;
    }
  }
}
