.post-import-image-container {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-style: dashed;
  align-self: center;
  margin-top: 2rem;
  padding: 5rem 4rem;
}
.post-import-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px; /* Adjust width as needed */
  height: 70px; /* Adjust height as needed */
  background: var(--main-gradient-up-to-down);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 4px 10px 0px;
  align-self: center;
  position: relative;
}

.post-import-image input {
  opacity: 0; /* Hide the actual image input */
  width: 100%;
  height: 100%;
}
.post-import-image span {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
