.main-button {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  align-self: center;
  cursor: pointer;
  border: none;
}
.main-button p {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(80, 118, 119, 0.5),
    rgba(167, 134, 75, 0.5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main-button::after {
  content: "";
  position: absolute;
  top: -1.5px;
  right: -1.5px;
  bottom: -1.5px;
  left: -1.5px;
  background: linear-gradient(
    to right,
    rgba(80, 118, 119, 0.5),
    rgba(167, 134, 75, 0.5)
  );
  border-radius: 12px;
  z-index: -1;
}
.main-button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
    rgba(80, 118, 119, 0.5),
    rgba(167, 134, 75, 0.5)
  );
  border-radius: 9.8px;
  z-index: 0;
  transition: 0.3s;
}
.main-button:hover::before {
  width: 100%;
}
