.main-button {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  background: white;
  align-self: center;
  cursor: pointer;
  border: none;
  border: 1px solid var(--main-gradient);
  border-radius: 5px;
  padding: 10px 15px;
}
.main-button p {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-gradient);
}
.main-button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: var(--main-gradient);
  border-radius: 5px;
  z-index: 0;
  transition: 0.5s;
}
.main-button:hover::before {
  width: 100%;
}
.main-button:hover {
  p {
    color: white;
    -webkit-background-clip: unset;
    background-clip: unset;
    z-index: 1;
    background: unset;
  }
}
