.agency-management {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  margin-top: 4rem;
  min-height: 700px;

  .agency-management-background {
    position: absolute;
    top: 0;
    left: -5%;
    height: 700px;
    z-index: -1;
  }

  .side-image {
    flex: 1;
  }

  .side-image img {
    min-width: 600px;
    height: auto;
  }

  .agency-management-description {
    flex: 1;
    padding: 20px;
    margin-bottom: 3rem;
    max-width: 50%;
  }

  .agency-management-description h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .agency-management-description p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .agency-management-element {
    margin-bottom: 20px;
    padding-left: 2rem;
  }

  .agency-management-element h3 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }

  .agency-management-element h3::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #47cfff;
    stroke: #1eb1e5 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
  }
}

@media (max-width: 1000px) {
  .agency-management {
    flex-direction: column;
    padding: 20px;
    margin-top: 5rem;
    min-height: 0;

    .side-image img {
      min-width: 300px;
    }

    .agency-management-description {
      max-width: 100%;
      margin: 0;
      margin-top: -100px;
    }

    .agency-management-description h2 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .agency-management-description p {
      font-size: 14px;
      text-align: center;
    }

    .agency-management-element h3 {
      font-size: 16px;
    }

    .agency-management-element h3::after {
      width: 10px;
      height: 10px;
      left: -20px;
    }

    .agency-management-element p {
      text-align: start;
    }
  }
}

@media (max-width: 768px) {
  .agency-management {
    padding: 20px 10px;

    .agency-management-background {
      height: 500px;
    }
  }
}

@media (max-width: 578px) {
  .agency-management {
    padding: 20px 5px;

    .agency-management-background {
      height: 400px;
    }

    .agency-management-description {
      margin-top: 0;
    }

    .agency-management-description h2 {
      font-size: 1.2rem;
    }

    .agency-management-description p {
      font-size: 14px;
    }

    .agency-management-element h3 {
      font-size: 14px;
    }

    .agency-management-element h3::after {
      width: 8px;
      height: 8px;
      left: -15px;
    }
  }
}
