.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem var(--x-padding);
  position: relative;
  z-index: 10;
  img {
    width: 200px;
    cursor: pointer;
  }
  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    a {
      color: var(--text-color);
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      &:hover {
        background: var(--main-gradient);
        color: transparent;
        background-clip: text;
        font-size: 1.3rem;
        transform: translateY(-2px);
      }
    }
    a.active-navlink {
      background: var(--main-gradient);
      color: transparent;
      background-clip: text;
      font-size: 1.3rem;
      transform: translateY(-2px);
    }
  }
  .main-button {
    justify-self: flex-end;
    min-width: 85px;
    justify-content: center;
    p {
      font-size: 1rem;
      font-weight: 600;
    }
  }
  .log-out-container {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 30px;
    }
    img[alt="profile"] {
      height: 30px;
      border-radius: 50%;
    }
  }
  .management-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: var(--basic-shadow);
    cursor: pointer;
    margin-right: 10px;
    img {
      width: 30px;
      height: 30px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  .new-notification {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  /* responsive */
  @media (max-width: 1280px) {
    .management-button {
      width: 30px;
      height: 30px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
/* Modal.css */

.ReactModal__Overlay {
  /* Styles for the modal overlay (background behind the content) */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Adjust transparency as needed */
  display: flex; /* Center the modal content vertically */
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  /* Styles for the modal content itself */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px; /* Set a maximum width for responsiveness */
  min-width: 300px; /* Set a minimum width for content */
  text-align: center; /* Center the content horizontally */
}

.ReactModal__Content h2 {
  /* Styles for the modal title (h2 element) */
  margin: 0 0 15px; /* Add some margin below the title */
  font-size: 1.2rem; /* Adjust font size as needed */
}

.ReactModal__Content button {
  /* Styles for both buttons (Cancel and Confirm Logout) */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Add some margin between buttons */
}

.ReactModal__Content button:hover {
  /* Styles for buttons on hover */
  background-color: #eee; /* Add a slight hover effect */
}

.ReactModal__Content button:first-child {
  /* Styles for the Cancel button */
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ReactModal__Content button:last-child {
  /* Styles for the Confirm Logout button */
  background-color: #007bff; /* Blue color for confirmation */
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-icon-navbar {
  display: none;
}

.space-taker {
  display: none;
}

.navbar {
  justify-content: space-between;
  position: relative;
  .profile-links {
    position: absolute;
    top: 5.85rem;
    right: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    flex-direction: column;
    gap: 0;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9;
    width: 50%;
    transition: all 0.3s ease;
    padding-bottom: 1rem;
    a {
      font-size: 1.2rem;
      padding: 1rem 0;
      &:hover {
        font-size: 1.3rem;
        background-color: var(--main-gradient);
      }
    }
    a.active-navlink {
      font-size: 1.3rem;
    }

    @media (max-width: 1100px) {
      top: 5.1rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    .navbar-logo {
      width: 150px;
    }
    nav {
      a.active-navlink {
        font-size: 0.9rem;
      }
      a {
        font-size: 0.8rem;
        &:hover {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    position: relative;
    .navbar-logo {
      width: 150px;
    }
    nav {
      position: absolute;
      top: 5.1rem;
      right: 0;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      flex-direction: column;
      gap: 0;
      background-color: #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 9;
      width: 50%;
      transition: all 0.3s ease;
      a {
        font-size: 1.2rem;
        padding: 1rem 0;
        &:hover {
          font-size: 1.3rem;
          background-color: var(--main-gradient);
        }
      }
      a.active-navlink {
        font-size: 1.3rem;
      }
    }
    .space-taker {
      display: block;
      flex: 1;
    }
    .menu-icon-navbar {
      display: block;
      cursor: pointer;
      width: 30px;
      margin-left: 1rem;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 1rem 1rem;

    .profile-links,
    nav {
      top: 66.5px;
    }
  }
}
