.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem var(--x-padding);
  nav {
    width: 80%;
    margin-left: calc(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    a {
      color: var(--text-color);
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      transition: 0.1s;
      &:hover {
        background: var(--main-gradient);
        color: transparent;
        background-clip: text;
      }
    }
  }
  .main-button {
    justify-self: flex-end;
    padding: 5px 10px;
    min-width: 85px;
    justify-content: center;
    p {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
