.section {
  padding: 1rem;
  font-family: "poppins";
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.min-h-full {
  min-height: 100%;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.gap-4 > * + * {
  margin-top: 1rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.hidden {
  display: none !important;
}

.text-gradient {
  background: linear-gradient(to right, #1abe6c, #03bae4);
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #1abe6c, #03bae4);
}

.text-transparent {
  color: transparent;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.text-lg {
  font-size: 1.125rem;
}

.p-2 {
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-[E6F4F3] {
  color: #e6f4f3;
}

.text-4xl {
  font-size: 2.25rem;
}

.table-auto {
  width: auto;
  border-collapse: collapse;
}

.mt-3 {
  margin-top: 0.75rem;
}

.th,
.td {
  padding: 0.2rem 0.3rem;
  text-align: center;
}

.day-header {
  font-weight: bold;
}

.before\:top-\[20\%\]::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  border-top: 1px solid #000;
}
.event {
  transform: translateY(-500%);
  opacity: 0;
  animation: eventid 1s ease forwards;
}

@keyframes eventid {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  height: 100%;
}

th {
  text-align: center;
  position: relative;
  color: rgba(0, 0, 0, 0.36);
  text-transform: capitalize;
}

th,
td {
  padding: 0.5rem 0.2rem;
}

thead > tr > th::before {
  content: "";
  width: 1px;
  position: absolute;
  background-color: black;
  left: 0;
  height: 0;
}
@keyframes slideInHeight {
  from {
    height: 0;
  }
  to {
    height: 210px; /* Set the desired final height */
  }
}

.th::before {
  animation: slideInHeight 0.5s ease 1s forwards;
}

tr {
  position: relative;
}

tr::after {
  content: "";
  height: 1px;
  position: absolute;
  background-color: black;
  left: -30px;
  bottom: 0;
  visibility: hidden;
  display: block;
}
.tr::after {
  animation: slideInWidth 0.5s ease 1.5s forwards;
}

@keyframes slideInWidth {
  from {
    width: 0px;
  }
  to {
    visibility: visible;
    width: 385px;
  }
}

th > p,
td > p {
  transform: translateY(200%);
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
}

.day-header {
  color: black;
  animation: clor 0.5s ease 3s forwards;
}

@keyframes clor {
  from {
    color: white;
  }
  to {
    color: #1abe6c;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.date {
  opacity: 0;
  box-shadow: 0px 0px 80px 0px rgb(77, 117, 120);
  color: white;
  animation: bgShow 0.5s ease 3s forwards;
}

@keyframes bgShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: rgba(77, 117, 120, 1);
  }
}

.hide {
  position: absolute;
  top: -17px;
  left: -15px;
  opacity: 0;
  transform: translateX(-15px); /* Initial transform */
}

.date:hover .hide {
  opacity: 1;
  animation: hhh 0.5s ease 3s;
}

@keyframes hhh {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Initial transform */
  }
  to {
    opacity: 1;
    transform: translateX(-15px); /* Final transform */
  }
}

.date-number {
  position: relative;
  z-index: 1; /* Ensure the number appears above the "GO" text */
}

@media screen and (min-width: 600px) {
  td,
  th {
    padding: 1rem;
  }
  @keyframes slideInHeight {
    from {
      height: 0;
    }
    to {
      height: 300px; /* Set the desired final height */
    }
  }
  @keyframes slideInWidth {
    from {
      width: 0px;
    }
    to {
      visibility: visible;
      width: calc(100% + 50px);
    }
  }
}

.event {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
}
