/* css main variables */
:root {
  --primary-color: #00ff94;
  --secondary-color: ;
  --main-gradient: linear-gradient(
    90deg,
    rgba(77, 117, 120, 1) 0%,
    rgba(186, 137, 64, 1) 100%
  );
  --font-family: poppins;
  --base-line-height: 1.6;
  --x-padding: 40px;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
