/* css main variables */
:root {
  --primary-color: #00ff94;
  --secondary-color: ;
  --main-gradient: linear-gradient(180deg, #00c1b6 0%, #004b6c 100%);
  --main-gradient-up-to-down: linear-gradient(180deg, #00c1b6 0%, #004b6c 100%);
  --second-gradient: linear-gradient(
    180deg,
    rgba(79, 118, 119, 1) 0%,
    rgba(112, 138, 132, 1) 100%
  );
  --font-family: poppins;
  --base-line-height: 1.6;
  --x-padding: 40px;
  --basic-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
