.ReactModal__Overlay {
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.57) !important;
}

.ReactModal__Content {
  width: 80%;
  height: 85%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.edit-tour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .edit-tour-upper-section {
    h2 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      height: 10%;
    }
  }
  .edit-tour-middle-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    .tour-section {
      width: 48%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      label {
        color: var(--main-gradient);
        font-weight: 600;
      }
      input {
        border: none;
        padding: 0.5rem 0.2rem;
        position: relative;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      .input-wrapper {
        width: 100%;
        position: relative;
      }
      .input-wrapper::after {
        content: "";
        position: absolute;
        height: 1.5px;
        background-color: var(--main-gradient);
        bottom: 0;
        left: 0;
        right: 0;
      }
      .tour-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 18%;

        .double-input {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .input-wrapper {
            width: 48%;
            background-color: transparent;
            &::after {
              content: "";
              position: absolute;
              height: 1px;
              background-color: var(--main-gradient);
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          input {
            width: 100%;
            background-color: transparent;
          }

          input::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: var(--main-gradient);
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 90%;
      width: 0.5px;
      background-color: var(--main-gradient);
      top: 10%;
      right: 50%;
      transform: translateX(-100%);
      opacity: 0.6;
    }
    &::before {
      content: "";
      position: absolute;
      height: 0.5px;
      width: 100%;
      background-color: var(--main-gradient);
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.6;
    }
    .tour-description {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      .description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        textarea {
          border: none;
          padding: 0.5rem 0.5rem;
          position: relative;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        .input-wrapper {
          width: 100%;
          position: relative;
        }
        .input-wrapper::after {
          content: "";
          position: absolute;
          height: 1.5px;
          background-color: var(--main-gradient);
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .tour-description {
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: rgba(13, 156, 219, 0.15);
      }
    }
  }
  .edit-tour-bottom-section {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    button {
      background: var(--main-gradient);
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-weight: 600;
      &:hover {
        background-image: var(--second-gradient);
      }
    }
    .cancel-edit-button {
      background-image: unset;
      color: var(--main-gradient);
      background-color: white;
      position: relative;
    }
    .cancel-edit-button::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -1.2px;
      bottom: -1.3px;
      left: -1.3px;
      background: var(--main-gradient);
      border-radius: 16px;
      z-index: -1;
    }
  }
  input::focus {
    outline: none;
  }
}
.edit-tour-step-two {
  .edit-tour-upper-section {
    height: calc(12% - 20px);
  }
  .edit-tour-middle-section-step-two {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    &::before {
      content: "";
      position: absolute;
      height: 0.5px;
      width: 100%;
      background-color: var(--main-gradient);
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.6;
    }
    .tour-info {
      width: 100%;
    }
  }
  label {
    color: var(--main-gradient);
    display: flex;
    font-weight: 600;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: var(--main-gradient);
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(31px);
    }
  }
  input {
    border: none;
    padding: 0.5rem 0.2rem;
    position: relative;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &::after {
      content: "";
      position: absolute;
      min-height: 1.5px;
      height: 1.5px;
      background: var(--main-gradient);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .nameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input {
      width: 100%;
    }
  }
  .double-input {
    width: 100%;
    input {
      width: 48%;
      background-color: transparent;
    }
  }
}
