.ReactModal__Overlay {
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.57) !important;
}

.ReactModal__Content {
  width: 80%;
  height: 85%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
